<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form th:action="@{/companies/{id}/update (id=${company.getId()})}"
      th:object="${company}"
      th:method="PATCH">
    <div>
        <label>
            <input th:field="*{companyName}" placeholder="Company Name">
        </label></div>
    <div>
        <label>
            <input th:field="*{locatedCountry}" placeholder="Located Country">
        </label>
    </div>
    <div>
        <input type="submit" value="update">
    </div>
</form>
</body>
</html>
